@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0f172a;
  color: white;
  font-family: Inter, Arial, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #06b6d4;
  color: white;
}